* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  overflow-y: scroll;
}

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i {
  position: absolute;
  top: 0;
  height: 5px;
  background-color: #fbfb1b;
  border-radius: 50%;
  filter: blur(1px);
  box-shadow: 1px 1px 0 0 #fbfb1b;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(calc(100vh + 5px));
  }
}

ul {
  list-style-type: none;
}